{% extends 'valana/base.html' %}

{% block main_content %}
 
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Somos Valo y Ana, una pareja de viajeros argentinos. En este momento nos encontramos en Leipzig, pero pueden ver todo nuestro recorrido en la <a href="{% url 'paises' %}">lista de paises </a></p>
                        <p>Hicimos este blog gracias a las clases de Coderhouse</p>

                    </div>
                </div>
            </div>
        </main>


{% endblock main_content %}