<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar posteo</title>
</head>
<body>
    
    <form action="/valana/busqueda_posteo/" method="get">
        
        <input type="text" name="titulo">

        <input type="submit" value="Buscar">

    </form>

    {% if error %}<p style="color:red">{{error}}</p>{% endif %}

    {% if posteo %}
        <p> posteo encontrado: {{posteo.titulo}}</p>
    {% endif %}

</body>
</html>