{% extends 'valana/base.html' %}

{% block main_content %}

<div class="container mt-5">
    {% if formulario.errors %}
    <p style="color: red"> Hay problemas con los datos cargados</p>
    {% endif %}
        

    <form action="/valana/posteos/" method="POST" class="form-group">
        {% csrf_token %}
        <table class="table">
            {{formulario.as_table}}
        </table>

        <input type="submit" value="Cargar posteo" class="btn btn-primary">
    </form>

</div>


<div class="container mt-5">
    <table class="table">

        <thead>
            <tr>
                <th class="table-success">Titulo</th>
                <th class="table-success">Posteo</th>
                <th class="table-success">Accion</th>
            </tr>
        </thead>

        <tbody>
            {% for posteo in posteos %}
                <tr>
                <td>{{posteo.titulo}}</td>
                <td>{{posteo.texto}}</td>
                <td>
                    <a href="{% url 'eliminarCurso' posteo.texto %}">Borrar</a>
                </td>
                
                </tr>
            {% endfor %}
        </tbody>


    </table>
</div>
{% endblock main_content %}