{% extends 'valana/base.html' %}

{% block main_content %}

<h2>Paises visitados</h2>
 <div class="container mt-5">
     <table class="table">
        <thead>
            <tr>
                <th class="table-success">Paises</th>
                <th class="table-success">Capitales</th>
            </tr>
        </thead>

        <tbody>
            {% if paises %}
                {% for pais in paises %}

                    <tr>
                    <td>{{pais.nombre}}</strong></td>
                    <td>{{pais.capital}}</td>
                    <td><a class="card-link" href="{%url 'pais_borrar' pais.id%}">Borrar</a></td>
               
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>

    </table>
</div>


<div class="container">
    <a class="btn btn-primary btn-sm" href="{% url 'crear_pais' %}">Agregar país</a>
</div>


{% endblock main_content %}