{% extends 'valana/base.html' %}


{% block main_content %}

<div class="container m-5">
    <div class="card-columns">
        
        {% for posteo in object_list %}
            <div class="card text-center p-3 m-3">
                <div class="card-body">
                    <h5 class="card-title">{{posteo.titulo}}</h5>
                    <h6 class="card-subtitle">{{posteo.subtitulo}}</h6>
                    <a class="card-link" href="{%url 'posteo_detail' posteo.id%}">Detalle</a> |
                    <a class="card-link" href="{%url 'posteo_update' posteo.id%}">Actualizar</a> |
                    <a class="card-link" href="{%url 'posteo_delete' posteo.id%}">Borrar</a>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <a class="btn btn-primary btn-sm" href="{% url 'posteo_create' %}">Agregar posteo</a>
</div>

{% endblock main_content %}