{% extends 'valana/base.html' %}

{% block main_content %}

 
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3>Editar perfil</h3>
                        <p><a href="{% url 'CargarAvatar' %}">Cambiar avatar </a></p>
                        <p><a href="{% url 'EditarUsuario' %}">Editar usuario </a></p>
                        <p><a href="{% url 'logout' %}">Cerrar sesión </a></p>


                    </div>
                </div>
            </div>
        </main>


{% endblock main_content %}